h1
{
    font-weight: bold;
    color: purple;
}

p
{
    color: green;
}

body
{
    background-color: black;
}

.container
{
    display: flex;
}

.container > div:nth-child(1)
{
    flex: 1;
}

.container > div:nth-child(2)
{
    flex: 3;
}